@use "./util" as *;

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
}
input,
textarea,
button {
  font-family: inherit;
}

.container {
  margin: 30px 10px;
  background-color: $vd-blue;
  display: flex;
  flex-direction: column;
}
