@use "./util" as *;

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
}
input,
textarea,
button {
  font-family: inherit;
}

main {
  display: flex;
  justify-content: center;
}

.container {
  padding: 50px 15px;
  max-width: 410px;
  background-color: $vd-blue;
  display: flex;
  flex-direction: column;

  @include breakpoint-up(desktop) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "profile work play study"
      "profile exercise social self";
  }
}
