@use "./util" as *;

.profile-card {
  grid-area: profile;
}

.profile-card-top {
  display: flex;
  position: relative;
  align-items: center;
  border-radius: 5%;
  background-color: $primary-blue;
  color: $pale-blue;

  & img {
    margin: 20px 10px 20px 15px;
    width: 50px;
    border-radius: 100%;
    border: 2px solid white;
  }
}

.intro {
  margin-bottom: 3px;
  font-size: rem(10);
}

.name {
  margin-top: 3px;
  margin-right: 20px;
  font-size: rem(16);
  color: $pale-blue;
}

.profile-card-bottom {
  display: flex;
  align-items: center;
  height: 50px;
  border-radius: 0 0 5px 5px;
  margin-top: -3px;
  background-color: $d-blue;

  &__container {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  &__btn {
    border: none;
    background: none;
    font-size: rem(12);
    color: $desat-blue;

    &:first-child {
      margin-left: 10px;
    }

    &:last-child {
      margin-right: 10px;
    }

    &.active {
      color: white;
    }
  }
}
