@use "./util" as *;

.profile-card-top {
  display: flex;
  align-items: center;
  border-radius: 5%;
  background-color: $primary-blue;
  color: $pale-blue;
  
  & img {
    margin: 20px 10px 20px 15px;
    width: 50px;
    border-radius: 100%;
    border: 2px solid white
  }
}

.intro {
  font-size: rem(10);
}

.name {
  font-size: rem(16);
  color: $pale-blue;
}
